CREATE TABLE IF NOT EXISTS cytech (
  id SERIAL PRIMARY KEY,
  name TEXT
);
INSERT INTO cytech (name) VALUES ('Jeremi');

GRANT USAGE, CREATE ON SCHEMA public TO cytech_usr;
GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO cytech_usr;
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO cytech_usr;
