# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                md5
host    all             cytech_usr       192.168.100.145/32    md5
host    all             all             192.168.100.0/24        md5
host    all             all             192.168.100.144/24        md5